---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---
<Layout title = "Panel administrativo">
    <div class="bg-[#A8D5BA] ">
        <NavBar></NavBar>
        <main>
            
        </main>
    </div>
</Layout>