---
import Layout from '../layouts/Layout.astro';
---

<Layout>	
	
	<div class="flex flex-col md:flex-row h-screen overflow-hidden">
		<div id="ContenedorIzquierdo" class="w-full md:w-1/2 h-64 md:h-screen bg-[#f1f1f1ec] flex items-center justify-center">
			<img src="LogoJess.png" alt="Logo de la clinica" class="" />
		</div>
		<div id="ContenedorDerecho" class="w-full md:w-1/2 h-auto md:h-screen bg-[#234d20e1] flex items-center justify-center py-8 md:py-0">
			<form id="loginForm" class="border border-black w-full max-w-md bg-gray-100 rounded-md shadow-2xl mx-4">
				<div class="flex flex-col items-center justify-center space-y-4 p-6">
					<span class="text-2xl font-medium mb-4">Inicio de sesión médico</span>
					<div class="w-full flex flex-col space-y-2">
						
					</div>
					<div class="w-full flex flex-col space-y-2">
						
					</div>
					<a href="/DashboardEmpleado" class="w-full flex flex-col space-y-2">
					<button type="submit" class="mt-4 px-6 py-2 bg-[#234D20] text-white rounded hover:bg-[#1a3a15] transition">
						Iniciar sesión
					</button>
					</a>
				</div>
				<div class="m-4 text-center">
					<p class="text-sm text-gray-600">Acceso exclusivo para personal médico autorizado</p>
					<p class="text-sm mt-2">Si eres paciente, da click <a href="/LogPaciente" class="text-blue-800 underline">aquí</a> para visualizar tu historial clínico</p>
				</div>
			</form>
		</div>
	</div>
</Layout>